
// FONTS
$displayFont: 'Rubik', sans-serif;
$copyFont: 'Open Sans', sans-serif;


// FONT WEIGHTS
$light: 300;
$normal: 400;
$bold: 700;
$extraBold: 800;


// COLOURS
$primaryGreen: #00bcd4;
$primaryGreenLight: #62efff;
$accentBlue: #008ba3;
$accentYellow: #ffab00;
$accentPink: #FF1654;

$lightGrey: #6e6e6e;

$fontPrimary: #fff;
